body  {
    background-color: #1e1e1e;
}

#title{
    color:white
}

mark.green{
    color:rgb(104, 195, 104);
    background-color: #1e1e1e;
}

.links{
    font-size: 22px;
    color:rgb(104, 195, 104);
}